Reference: <br>
https://docs.scipy.org/doc/scipy-1.2.1/reference/generated/scipy.stats.chi2_contingency.html <br>
https://machinelearningmastery.com/chi-squared-test-for-machine-learning/

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
test = pd.read_csv("x2test.csv")
test.head()

  Unnamed: 0  Science  Math  Art
0       Male       20    30   15
1     Female       20    15   30

In [3]:
test.iloc[:, 1:6]

   Science  Math  Art
0       20    30   15
1       20    15   30

In [4]:
chi2, p, dof, ef =  chi2_contingency(test.iloc[:, 1:6], correction = False)     # False = aviod Yatesâ€™correction

In [5]:
print('The test statistic      = ', chi2)
print('The p-value of the test = ', p)
print('Degrees of freedom      = ', dof)
print('The expected frequencies, based on the marginal sums of the table = ', dof)

The test statistic      =  10.0
The p-value of the test =  0.006737946999085468
Degrees of freedom      =  2
The expected frequencies, based on the marginal sums of the table =  2

H0: A and B are independent <br>
p-value < 0.05 so H0 is rejected, that is A and B are dependent